# Исключение виртуальной среды
venv/
.venv/

# Исключение файлов IDE
.idea/

# Исключение файлов кэша Python
*.pyc
__pycache__/

# Исключение конфигурационных файлов линтера
.flake8

# Исключение логов
*.log

# Исключение файлов ОС
.DS_Store
Thumbs.db
